// a {
//     // .wrapper{
//     //     background-image: linear-gradient(to bottom, #350537, #55045e, #750389, #9406b8, #b212eb);
//     // }
// }

.irts_icon img{
   padding : 20px 50px;
   opacity: 0.5;
}


.toolbar-background{
    background-color: #0c3665;
}

.title .title-md{
    color : #fff;
}

.toolbar-title{
    color : #fff;
}

.wrapper{
    // background-color: #048cc1;
    background-image: linear-gradient(to left top, #051037, #0c3665, #0b5f93, #048cc1, #12bceb);
}

.select_box{
    margin : 2%;
    width : 96%;
    border-radius: 5px;
    background-color: antiquewhite;
    // color : black;
}

.select_box ion-label{
    color : #051037!important;
}
